body{
  font-style: italic;  
}
.main{
    width:  90%;
    margin: 20px auto;
    border: 1px solid blue;
    padding: 20px;
    background-color: darkkhaki;
}
h2{
    margin-top: 0px;
    color:chocolate
}
.encabezado{
    background-color: blueviolet;
    color: cornsilk;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    box-shadow: 0px 05px 10px black;
}